html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article {
  text-align: center;
}

header {
  display: block;
  background-color: #259f95;
  text-align: left;
  color: #fff;
  padding: 1em;
  margin: 0 1em 2em 1em;
  border-radius: .2em;
}

body {
  margin: 0;
}

.chapter-num {
  display: block;
  font-style: italic;
  font-size: 1rem;
}

.colon {
  display: none;
}

p {
  margin-left: 3em;
  margin-right: 3em;
  text-align: left;
}
